<StackLayout>
        <ScrollView>
            <StackLayout *ngIf="!this.showingPicker">
                <GridLayout rows="auto, auto, auto, auto" class="clubGrid">
                    <StackLayout row="0" paddingTop="10">
                        <Button className="stateSelectBtn" text="{{this.picked}}" (tap)="showStatePicker()"></Button>
                    </StackLayout>
                    <StackLayout row="1">
                        <StackLayout *ngFor="let item of filteredClubs; let i = index;">
                            <CardView *ngIf="i !== selectedClubIndex" class="cardStyle" width="90%" margin="5" elevation="40" radius="1" (tap)="expandClub(item, i)">
                                <GridLayout rows="*,*" columns="*,*" padding="12px">
                                    <Label text="{{item.name}}" horizontalAlignment="left" row="0" col="0" colSpan="2" textwrap="true"></Label>
                                    <StackLayout row="1" orientation="horizontal">
                                        <Image src="~/assets/{{item.country}}.jpg" [class.rightMargin]="item.state_code" height="30px"></Image>
                                        <Label text="{{item.state_code}}"></Label>
                                    </StackLayout>
                                </GridLayout>
                            </CardView>
                            <CardView *ngIf="i === selectedClubIndex" class="cardStyle" width="90%" margin="5" elevation="40" radius="1">
                                <StackLayout className="expandedCard">
                                    <Label text="x" (tap)="collapse()" color="#000" width="20" horizontalAlignment="right"></Label>
                                    <Label text="{{selectedClub.name}}" marginTop="10" textwrap="true"></Label>
                                    <StackLayout orientation="horizontal">
                                        <Label *ngIf="selectedClub.address" text="{{selectedClub.address}}, "></Label>
                                        <Label *ngIf="selectedClub.city" text="{{selectedClub.city}}, "></Label>
                                        <Label text="{{selectedClub.state_code}}"></Label>
                                        <Label *ngIf="selectedClub.country && selectedClub.country !== 'United States'" text=", {{selectedClub.country}}"></Label>
                                    </StackLayout>
                                    <Label text="Region {{selectedClub.region}}"></Label>
                                    <Image *ngIf="selectedClub.facebook" horizontalAlignment="left" (tap)="openUrl(selectedClub.facebook)" src="~/assets/fb.png" width="10%" marginTop="15"></Image>
                                    <StackLayout orientation="horizontal" *ngIf="selectedClub.twitter" padding="10 0" (tap)="openUrl('http://twitter.com/' + selectedClub.twitter)">
                                        <Image src="~/assets/twitter.png" width="12%"></Image>
                                        <Label text="@{{selectedClub.twitter}}"></Label>
                                    </StackLayout>
                                    <StackLayout (tap)="openUrl('http://instagram.com/' + selectedClub.instagram)" orientation="horizontal" *ngIf="selectedClub.instagram" padding="7 0">
                                        <Image src="~/assets/ig.png" width="10%"></Image>
                                        <Label text="  {{selectedClub.instagram}}"></Label>
                                    </StackLayout>
                                    <Label *ngIf="selectedClub.website" (tap)="openUrl(selectedClub.website)" text="{{selectedClub.website}}"></Label>
                                </StackLayout>
                            </CardView>
                        </StackLayout>
                    </StackLayout>
                </GridLayout>
            </StackLayout>
        </ScrollView>
        <StackLayout>
            <FilterableListpicker #stateFilter blur="dark" hintText="Type to filter..." [source]="stateList" (canceled)="cancelFilterableList($event)" (itemTapped)="itemTapped($event)"></FilterableListpicker>
        </StackLayout>
    </StackLayout>