.stateSelectBtn {
    width: 65%;
    padding: 10px;
    background-color: #5E5E5E;
    color: #fff;
    border-radius: 10px;
    margin: 10px 0;
    border-width: 1px;
    border-style: solid;
    border-color: #000;
}
.cardStyle {
    background-color: #fff;
    color: #000;
    text-align: left;
}
.rightMargin {
    margin-right: 15px;
}
.expandedCard {
    background-color: #fff;
    padding: 12px;
}
.closeBtn {
    background-color: #B70034;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
}
.social-icon-section {
    padding: 10px 0;
}
.margin10 {
    margin: 0 10px;
}
.fa-facebook-square {
    color: #3B5998;
}
.fa-twitter-square {
    color: #00aced;
}
.ig-gradient {
    border-radius: 10px;
}
.fa-instagram {
    color: #fff;
    text-align: center;
    font-size: 40em;
    margin-top: 3px;
}