.stateSelectBtn {
    width: 65%;
    background-color: lightblue;
    color: #000;
    border-radius: 10px;
    margin: 10px 0;
}
.cardStyle {
    background-color: rgb(212, 212, 212);
    color: #000;
    text-align: left;
}
.rightMargin {
    margin-right: 15px;
}
.expandedCard {
    background-color: rgb(212, 212, 212);
    padding: 12px;
}